/*
Path pattern: .*
Type: StyleSheet
Insertion position: Head of all pages
特定のプロジェクトでファイル添付を非表示にする
*/

.project-a #issue-form #attachments_form, .project-a #issue-form .attachments_form {
  display: none;
}
