/*
Path pattern: /issues
Type: StyleSheet
*/
span.enumeration_cf.check_box_group {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; 
  -webkit-flex-wrap: wrap; 
}

/* サイズも統一したい場合 */
span.enumeration_cf.check_box_group label {
  width: 100px;
}
